<form class="toolbar" [formGroup]="pokemonSetForm" (ngSubmit)="addPokemonSet()">
    <h1 class="header-title">Pokemon Sets</h1>
    <mat-form-field>
        <input matInput type="text" formControlName="pokemonSetControl" [errorStateMatcher]="matcher"
            placeholder="Pokemon Set Name">
        <mat-error *ngIf="pokemonSetForm.get('pokemonSetControl').hasError('required')">
            Pokemon Set Name is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="mat-button"
        [disabled]="pokemonSetForm.get('pokemonSetControl').hasError('required')">
        Add Set
    </button>
</form>
<table mat-table matSort matSortActive="species" matSortStart="asc" matSortDisableClear [dataSource]="dataSource">
    <ng-container matColumnDef="sprite">
        <th mat-header-cell *matHeaderCellDef aria-label="row sprites">Sprite</th>
        <td mat-cell *matCellDef="let row">
            <img src="https://play.pokemonshowdown.com/sprites/dex/{{row['species'].replace(' ', '').replace('’', '').replace('\'', '').toLowerCase().replace('-paldea-', '-paldea').replace('ting-lu', 'tinglu')}}.png"
                name="{{row['species'].replace(' ', '').replace('’', '').replace('\'', '').toLowerCase().replace('-paldea-', '-paldea').replace('ting-lu', 'tinglu')}}"
                onerror="this.src = (this.src == `https://play.pokemonshowdown.com/sprites/gen5/` + this.name + `.png`) ? `../../../../assets/MissingNo.png` : `https://play.pokemonshowdown.com/sprites/gen5/` + this.name + `.png`;"
                class="sprite-img" />
        </td>
    </ng-container>
    <ng-container *ngFor="let columns of displayedColumns; let i = index" matColumnDef="{{columns}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{tableColumnNames[i]}}</th>
        <td mat-cell *matCellDef="let row">{{row[columns]}}</td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">Delete</th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="warn" class="warning-button" *ngIf="!element.deleteConfirm"
                (click)="confirmDelete(element); $event.stopPropagation()">
                Delete
            </button>
            <span *ngIf="!!element.deleteConfirm" class="delete-confirm-cancel-button">
                <button mat-raised-button color="basic" class="warning-button"
                    (click)="cancelDeleteConfirm(element); $event.stopPropagation()">
                    No
                </button>
                <button mat-raised-button color="accent" class="warning-button"
                    (click)="deletePokemonSet(element); $event.stopPropagation()">
                    Yes
                </button>
            </span>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithDelete"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithDelete;"
        [routerLink]="['/pokemon-set/edit/', row.id]"></tr>
</table>